*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1{
    margin: 1rem 1rem 0 1rem;
    font-size: 2rem;
}

p{
    margin: 1rem 1rem 0 1rem;
    font-size: 1.3rem;
}

#snow{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

span{
    top:10px;
    position: relative;
    width: 10px;
    height: 10px;
    background: rgb(98, 240, 240);
    border-radius: 100%;
    display: block;
    animation: fall linear infinite;
    animation-duration: calc(16s/var(--i));
    box-shadow: 0 0 10px rgb(141, 230, 245),
    0 0 50px rgb(187, 238, 248);
}

@keyframes fall {
    100%{
        top: 600px;
        opacity: 0.1;
    }
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url('images/background.jpg');
}

header h1, header p{
    text-align: center;
    position: relative;
    color: #b9b9b9;
}

header h1{
    color: #0a8175;
}

header img{
    position: relative;
    width: 20%;
    opacity:0;
    filter: drop-shadow(4px 5px 10px rgb(18, 18, 18));
}

#image-display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(2px 3px 10px rgb(38, 35, 97));
}

#image-display img{
    width: 20%;
}

section, footer{
    background: linear-gradient(45deg, #060606, #08212d, black);
    color: rgb(148, 148, 148);
    text-align: center;
    padding: 1rem 5rem;
}

section img{
    width: 25%;
    margin: 1rem;
    object-fit: cover;
}

.alt-style{
    background: linear-gradient(45deg, #600754, #453d77, #313131);
    color: black;
}

.alt-style h2{
    color: black;
}

#location img{
    width: 60%;
    border-radius: 10px;
}

#schedule ul{
    list-style: none;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

footer{
    padding: 1rem;
}

footer p{
    font-weight: bold;
    margin-top: 0;
}

.form{
    width: 40%;
    padding: 1rem;
    margin: 1rem auto;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.209);
    border-radius: 5px;
}

.form input{
    display: block;
    width: 80%;
    height: 1.5rem;
    margin-top: 0.5rem;
}

.btn{
    padding: 0.5rem 1rem;
    background-color: #4a175d;
    border: none;
    color: #bdbdbd;
    font-size: 1rem;
    border-radius: 5px;
    margin: 1rem;
}

#thanks-config{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.617);
}

#thanks-card{
    width: 40%;
    background-color: rgb(214, 214, 214);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

#thanks-card h3{
    font-size: 1.5rem;
}

@media(max-width:820px){
    header img{
        width: 25%;
    }
    div img{
        width: 20%;
    }
    #about img{
        width: 40%;
    }
    #location img{
        width: 80%;
    }
    .form{
        width: 80%;
    }
    #thanks-card{
        width: 70%;
    }
}

@media(max-width:600px){
    section,footer{
        padding: 1rem 1rem;;
    }
    footer p{
        font-size:0.7rem;
    }
}

@media(max-width:450px){
    header img{
        width: 70%;
    }
    div img{
        width: 30%;
    }
}
